<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>A simple, clean, and responsive HTML invoice template</title>
    <link type="text/css" rel="stylesheet" href="/static/css/invoice.css" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="title">
                                <img src="/static/img/uow_icon.jpg" style="width:50; width:150">
                            </td>
                            
                            <td>
                                Invoice #: 123<br>
                                Created: <%=date_create%><br>
                                Due: <%=date_due%>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            
            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                                University of Wollongong, Australia<br>
                                Northfields Avenue,<br>
                                Wollongong NSW 2522
                            </td>
                            
                            <td>
                                <%=name%><br>
                                UOW ID - <%=uow_id%><br>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            
            <tr class="heading">
                <td>
                    Item
                </td>
                
                <td>
                    Price
                </td>
            </tr>
            
            <%for(var i = 0; i < bookings.length; i++){%>
            <%var total_price = 0%>
            <tr class="item">
                <td>
                    Room # <%=bookings[i].room_id%>
                </td>
                
                <td>
                    $<%=(bookings[i].rate * num_days).toFixed(2)%>
                    <%total_price += bookings[i].rate * num_days%>
                </td>
            </tr>
            <%}%>
            
            <tr class="item last">
                <td>
                    Discount (<%=discount%> %)
                </td>
                
                <td>
                    <% var discount_amount = total_price * discount / 100 %>
                    $<%=discount_amount.toFixed(2)%>
                </td>
            </tr>
            
            <tr class="total">
                <td></td>
                
                <td>
                   Total: $<%=(total_price - discount_amount).toFixed(2)%>
                </td>
            </tr>
        </table>
        <button class = 'btn btn-primary' onclick='window.location.replace("/")'>Return to Home</button>
    </div>
</body>
</html>
